<br>

<h1></h1>
<h3>
    ________Detalle del producto presentados por el componente Venta________
</h3>
<p>
    <br>
    <u><em>Nombre: {{componenteVenta.nombre}}<br>
    </em></u>
        <br> 
    <u><em>Producto: {{componenteVenta.producto}}<br>
    </em></u>
        <br>
    <u><em>Fecha de Compra: {{componenteVenta.fechaCompra}}<br>
    </em></u>
        <br> 
    <u><em>Cantidad: {{componenteVenta.cantidad}}<br>
        </em></u>
        <br>
    <u><em>Precio: {{componenteVenta.precio}}<br>
       </em></u>
       <br>

       <u><em>Porcentaje de RECARGO: ... *10 <br>
       </em></u>
       <br>
</p>




<br>
<button mat-button (click)="devolverDetalle()" 
color="primary">Poner RECARGO</button>